{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>BryShop</title>
{% endblock meta %}
{% block content %}
{% include 'navbar.html' %}
<div class="overflow-x-hidden px-4 md:px-8 pb-8 pt-24 min-h-screen bg-white flex flex-col">
    <div class="p-2 mb-6 relative">
        <div class="relative grid grid-cols-1 z-30 md:grid-cols-3 gap-8">
            {% include "card_info.html" with title='NPM' value=npm %}
            {% include "card_info.html" with title='Name' value=name %}
            {% include "card_info.html" with title='Class' value=class %}
        </div>
    </div>
    <div class="px-3 mb-4">
        <div class="flex rounded-md items-center bg-sky-500 py-2 px-4 w-fit">
            <h1 class="text-white text-center">Last Login: {{last_login}}</h1>
        </div>
        </div>
        <div class="flex justify-end mb-6">
            <a href="{% url 'main:create_product' %}" class="bg-sky-500 hover:bg-sky-600 text-white font-bold py-2 px-4 rounded-lg">
                Add New Product
            </a>
        </div>
        
        {% if not products %}
        <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
            <img src="{% static 'image/very-sad.png' %}" alt="Sad face" class="w-32 h-32 mb-4"/>
            <p class="text-center text-gray-600 mt-4">There are no products in BryShop.</p>
        </div>
        {% else %}
        <div class="columns-1 sm:columns-2 lg:columns-3 gap-6 space-y-6 w-full">
            {% for product in products %}
                {% include 'card_product.html' with product=product %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <h1>Welcome to {{ appname }}!</h1>
    <h3>Name:</h3>
    <p>{{ name }}</p>
    <h3>NPM:</h3>
    <p>{{ npm }}</p>
    <h3>Class:</h3>
    <p>{{ class }}</p>

    {% if not products %}
    <p>There are no products in BryShop.</p>
    {% else %}
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
        </tr>

        {% comment %} This is how to display product data
        {% endcomment %} 
        {% for product in products %}
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.description}}</td>
            <td>
                <a href="{% url 'main:edit_product' product.pk %}">
                    <button>
                        Edit
                    </button>
                </a>
            </td>
            <td>
                <a href="{% url 'main:delete_product' product.pk %}">
                    <button>
                        Delete
                    </button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>

<br />

<a href="{% url 'main:create_product' %}">
    <button>Add New Product</button>
</a>
<a href="{% url 'main:logout' %}">
    <button>Logout</button>
</a>
<h5>Last login session: {{ last_login }}</h5>
{% endblock content %}
